.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.txt-align-c {
  text-align: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.pos-abs {
  position: absolute;
}
