.feature__icon,
.operation__icon {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Feature Icons */
.feature__icon {
  background-color: #5ec5763c;
  margin-bottom: 2rem;
}

.feature__icon .icon {
  font-size: 2.6rem;
  color: #44b25e;
}

/* Section Operation Icons */
.operation__icon .icon {
  font-size: 2.6rem;
}

.operation__transfer .operation__icon {
  background-color: #ffcd0347;
}

.operation__transfer .icon {
  color: #dcb20b;
}

.operation__loan .operation__icon {
  background-color: #44b25e3e;
}

.operation__loan .icon {
  color: #44b25e;
}

.operation__closing .operation__icon {
  background-color: #ff58603d;
}

.operation__closing .icon {
  color: #ff585f;
}
