.nav {
  display: flex;
  justify-content: space-between;

  padding: 1.5rem 6rem;
  width: 100%;
}

.nav__header {
  display: flex;
  align-items: center;
}

.nav__logo {
  height: 70px;
}

.nav__heading {
  font-size: 2.6rem;
  font-weight: 600;
  color: #1fa23d;
}

.nav__links {
  list-style: none;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.nav__link {
  transition: opacity 0.3s;
}

.sticky {
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Footer nav */
.footer .nav__links {
  max-width: 110rem;

  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem 5rem;

  margin-bottom: 5rem;
}

.footer .nav__link {
  color: #f3f3f3;
}
